{% extends 'base.html' %}
{%block title %} {{project.title}} {% endblock %}
{% block body %}
<hr class="my-4" />
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div>
                <span class="post-tags">
                    <p>Tags: {{', '.join(project.tags)}}</p>
                    <p>Github: <a href="{{project.github}}" target="_blank">{{project.github}}</a></p>
                </span>

                <body>
                    {{project.body | safe}}
                </body>
            </div>
        </div>
    </div>
</div>

{% endblock %}