{% extends 'base.html' %}
{%block title %} Projects {% endblock %}
{% block body %}
<!-- Page Header-->
<header
  class="masthead"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading" style="text-align: center">
          <h1>Projects List</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        <div class="post-preview">
          <a href="#">
            <h2 class="post-title">Title</h2>
            <h3 class="post-subtitle">Subtitle</h3>
          </a>
          <p class="post-meta">
            Posted by
            <a href="#">Eoin</a>
            on 00/00/0000
          </p>
        </div>
        <!-- Divider-->
        <hr class="my-4" />
  
      </div>
    </div>
  </div>

{% endblock %}